*~
*.a
*.o
*.dll
*.so
*.cmi
*.cmx
*.cmxs
*.cmxa
*.cmo
*.cma
*.cmt
*.opt
*.run
*.cmti
*.annot
*.exe
*.dll
*.lib
*.obj
*.log
*.cache
*.status
*.omc
*.out
*.tar.gz
*.tar.xz
*.tar
*.idoc
/.omakedb*
/src/META
/src/config.h
/src/config.h.in
/src/config.inc
/src/configure
/src/autom4te.cache/
/src/aclocal.m4
/src/error.ml
/src/byte_order.ml
/src/map_error.h
/src/html
/src/emap_gen
/src/error_val.ml
/src/error_val.mli
/src/uwt-error.h
/src-log/META
/examples/copy
/examples/dns
/examples/echo_tcp
/examples/fs_event
/examples/fs_poll
/examples/copy_sync
/examples/hello_http
/examples/spawn
/examples/timer
/examples/usage
/examples/work
/examples/log
/examples/preemptive
/examples/echo_udp
/examples/custom_c_worker
/test/test
/test/lock_helper
/libuv-v1*
