*~
*.a
*.o
*.dll
*.so
*.cmi
*.cmx
*.cmxs
*.cmxa
*.cmo
*.cma
*.cmt
*.opt
*.run
*.cmti
*.annot
*.exe
*.dll
*.lib
*.obj
*.log
*.cache
*.status
*.omc
*.out
*.tar.gz
*.tar.xz
*.idoc
/setup.ml
/.omakedb*
/_oasis
/src/META
/src/config.h
/src/configure
/src/autom4te.cache/
/src/error.ml
/src/map_error.h
/src/html
/examples/copy
/examples/dns
/examples/echo_tcp
/examples/fs_event
/examples/fs_poll
/examples/hello_http
/examples/spawn
/examples/timer
/examples/usage
/src/emap_gen
